.productsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.loading {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    height: 80rem;
}

.WaLink {
    text-decoration: none;
    margin-bottom: 5rem;
}