.footer {
    /* Esto lo ubique con margin, pero no creo que sea la manera mas correcta */
    margin-top: 2rem;
    background-color: rgb(33,37,41);
    font-size: 1.5rem;
    color: #eeeeee;
    padding: .375rem;
    display: flex;
    justify-content: center;
}